* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9e9da0;
    color: #070000;
}

.weather_container {
    background-color: #0c0114;
    border-radius: 10px;
    padding: 24px 30px;
    box-shadow: 0 2px 10px rgba(0, 4px, 8px, rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
}

.weather_container .formDivClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather_container .formDivClass input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;


}


.weather_container .formDivClass button {
    border: none;
    /* outline: none; */
    border-radius: 45px;
    padding: 10px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
    background-color: #ece9ee;
    /* width: 50px; */

}

.weather_container .formDivClass button:hover {
    background-color: #fff;
    color: #0c0114;
    cursor: pointer;
    transform: scale(1.1);

}

.weather_container .formDivClass button i {
    font-size: 15px;
    color: rgb(87, 85, 85);

}

.weather_container .weather_info {
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
}

.weather_container .weather_info .cloudAndCelsiusDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather_container .weather_info .cloudAndCelsiusDiv img {
    width: 150px;
    height: 150px;
}

.weather_container .weather_info .cloudAndCelsiusDiv h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-block: 10px;
}

.weather_container .weather_info .cloudAndCelsiusDiv p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    /* margin-block: 4px; */
}

.weather_container .weather_info .humidityAndwindspeedContainer {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-inline: 10px;
    margin-top: 10px;
    overflow-x: hidden;


    /* margin-block: 4px; */
}

.weather_container .weather_info .humidityAndwindspeedContainer .humidity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
    /* margin-block: 4px; */
}

.weather_container .weather_info .humidityAndwindspeedContainer .humidity img {
    width: 30px;
    height: 30px;
    color: #fff;
    /* margin-block: 4px; */
}

.weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    /* justify-content: center;
    align-items: center; */
}

.weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage h2 {
    font-size: 16px;
    color: #0c0114;
    font-weight: 700;
    /* margin-block: 4px; */
}

.weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage p {
    font-size: 14px;
    color: #0c0114;
    /* font-weight: 700; */
    /* margin-block: 4px; */
}

.weather_container .location_notFound {
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.weather_container .location_notFound h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-block: 20px;
}

.weather_container .location_notFound img {
    width: 150px;
    height: 150px;

}

/* .weather_container .weather_info .humidityAndwindspeedContainer .wind_speed img{
    width: 30px;
    height: 30px;
    color: #fff;
    /* margin-block: 4px; */




@media screen and (max-width: 400px) {
    .weather_container {
        width: 70%;  
        margin:auto;
    }

    .weather_container .formDivClass {
        flex-direction: column;
        /* align-items: center; */
    }

    .weather_container .formDivClass input {
        width: 100%;
        margin-bottom: 10px;
    }

    .weather_container .formDivClass button {
        width: 40%;

        margin-left: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
      .weather_container .weather_info .cloudAndCelsiusDiv img {
        width: 120px;
        height: 120px;
    }
    .weather_container .weather_info .cloudAndCelsiusDiv h2 {
        font-size: 20px;
    }
    .weather_container .weather_info .cloudAndCelsiusDiv p {
        font-size: 16px;
    }
     .weather_container .weather_info .humidityAndwindspeedContainer .humidity{
        flex-direction: column;
        align-items: center;
        text-align: center;
       }
     .weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage{
            margin-top: 3px;
           }
    .weather_container .weather_info .humidityAndwindspeedContainer .humidity img {
        width: 23px;
        height: 23px;
    
        /* margin-block: 4px; */
    }

    .weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage h2 {
        font-size: 14px;
        font-weight: 500;
        margin-block: 4px;
    }

    .weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage p {
        font-size: 11px;
        /* font-weight: 700; */
        /* margin-block: 4px; */
    }

  
}

@media screen and (max-width: 333px){
     
       .weather_container .weather_info .humidityAndwindspeedContainer .humidity{
        flex-direction: column;
        align-items: center;
        text-align: center;
       }
           .weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage{
            margin-top: 5px;
           }
            .weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage h2 {
                margin-block: 4px;
            }
}