* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9e9da0;
    color: #070000;
}

.weather_container {
    background-color: #0c0114;
    border-radius: 10px;
    padding: 24px 30px;
    box-shadow: 0 2px 10px rgba(0, 4px, 8px, rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
}

.weather_container .formDivClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather_container .formDivClass input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;


}

.weather_container .formDivClass button {
    border: none;
    /* outline: none; */
    border-radius: 45px;
    padding: 10px;
    margin-left: 4px;
    /* width: 50px; */

}
.weather_container .formDivClass button i {
    font-size: 15px;
    color: #807e7e;

}
.weather_container .weather_info{
    /* background-color: aliceblue; */
    margin-top: 30px;
}
.weather_container .weather_info .cloudAndCelsiusDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather_container .weather_info .cloudAndCelsiusDiv img{
    width: 150px;
    height: 150px;
}
.weather_container .weather_info .cloudAndCelsiusDiv h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-block: 10px;
}
.weather_container .weather_info .cloudAndCelsiusDiv p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    /* margin-block: 4px; */
}
.weather_container .weather_info .humidityAndwindspeedContainer {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    /* margin-block: 4px; */
}
.weather_container .weather_info .humidityAndwindspeedContainer .humidity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-block: 4px; */
}
.weather_container .weather_info .humidityAndwindspeedContainer .humidity img{
    width: 30px;
    height: 30px;
    color: #fff;
    /* margin-block: 4px; */
}
.weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    /* justify-content: center;
    align-items: center; */
}
.weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage h2{
    font-size: 16px;
    color: #0c0114;
    font-weight: 700;
    /* margin-block: 4px; */
}
.weather_container .weather_info .humidityAndwindspeedContainer .humidity .humidityAndPercentage p{
    font-size: 14px;
    color: #0c0114;
    /* font-weight: 700; */
    /* margin-block: 4px; */
}
.weather_container .weather_info .humidityAndwindspeedContainer .wind_speed img{
    width: 30px;
    height: 30px;
    color: #fff;
    /* margin-block: 4px; */
}